<div class="modal-header">
  <button class="exit-btn" (click)="onConfirmExit()">×</button>
  <div class="header-row">
    <h2>{{ currentBook }} {{ currentChapterNum }}</h2>
    <div class="progress-info">
      <span class="progress-text">{{ progressPercentage }}% Complete</span>
    </div>
  </div>
  <div class="verse-bubbles-wrapper">
    <div class="verse-bubbles-container" #verseBubblesContainer>
      <div class="verse-bubbles">
        <div class="active-border-container" *ngIf="hasActiveBorder" [style.left.px]="borderLeft" [style.width.px]="borderWidth" @borderPulse>
          <div class="active-border-bg"></div>
          <div class="active-border-glow"></div>
        </div>
        <ng-container *ngFor="let group of getOriginalGroups(); let i = index">
          <div class="group-bubble" [class.completed]="isGroupCompleted(i)" [class.current]="isGroupActive(i)" (mouseenter)="hoveredGroup = i" (mouseleave)="hoveredGroup = -1" [class.hovered]="hoveredGroup === i">
            <div class="verse-numbers">
              <div *ngFor="let verse of group" class="verse-number">{{ verse.verse }}</div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
