<div class="book-grid">
  <div
    class="book-card"
    *ngFor="let book of books"
    [class.active]="book === selectedBook"
    [class.apocryphal]="isApocryphalBook(book)"
    (click)="selectBook(book)"
  >
    <div class="book-name">{{ book.bookName }}</div>
    <div class="book-progress">
      <div
        class="book-progress-bar"
        [style.width.%]="book.percentComplete"
        [style.background]="getBookProgressColor(book)"
      ></div>
    </div>
    <div class="book-stats">
      <span>{{ book.totalChapters }} chapters</span>
      <span
        [style.color]="getBookProgressColor(book)"
        style="font-weight: 600;"
        >{{ book.percentComplete }}%</span
      >
    </div>
  </div>
</div>
