<!-- Grid View -->
<div *ngIf="layoutMode === 'grid'" class="grid-view">
  <div class="verse-grid" [style.font-size.px]="fontSize">
    <div *ngFor="let row of gridRows" class="grid-row">
      <div
        *ngFor="let verse of row"
        [class]="getVerseClass(verse)"
        [attr.data-verse]="verse?.verseCode"
      >
        <ng-container *ngIf="verse">
          <div
            class="verse-ref"
            *ngIf="showVerseNumbers"
            (click)="onToggleVerse(verse)"
          >
            {{ getVerseReference(verse) }}
            <div class="memorized-indicator" *ngIf="verse.isMemorized">
              <svg
                width="12"
                height="12"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="3"
              >
                <polyline points="20 6 9 17 4 12"></polyline>
              </svg>
            </div>
          </div>
          <div
            class="first-letters"
            [innerHTML]="formatFirstLetters(verse)"
          ></div>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<!-- Single Column View -->
<div *ngIf="layoutMode === 'single'" class="single-view" [style.font-size.px]="fontSize">
  <div
    *ngFor="let verse of verses"
    [class]="getVerseClass(verse)"
    [attr.data-verse]="verse.verseCode"
  >
    <div
      class="verse-ref"
      *ngIf="showVerseNumbers"
      (click)="onToggleVerse(verse)"
    >
      {{ getVerseReference(verse) }}
      <div class="memorized-indicator" *ngIf="verse.isMemorized">
        <svg
          width="12"
          height="12"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="3"
        >
          <polyline points="20 6 9 17 4 12"></polyline>
        </svg>
      </div>
    </div>
    <div
      class="first-letters"
      [innerHTML]="formatFirstLetters(verse)"
    ></div>
  </div>
</div>
