<div class="memorization-modal-overlay" *ngIf="state.visible">
  <div class="memorization-modal-container" @fadeIn>
    <app-progress-header
      [currentBook]="currentBook"
      [currentChapterNum]="currentChapterNum"
      [progressPercentage]="progressPercentage"
      [verses]="verses"
      [groupSize]="state.groupSize"
      [currentStage]="currentStage"
      [currentVerses]="currentVerses"
      [currentStepIndex]="state.currentStepIndex"
      [setup]="state.setup"
      [progressMarkers]="progressMarkers"
      [practiceSettings]="practiceSettings"
      (confirmExit)="confirmExit()"
      (settingsChange)="onSettingsChange($event)"
    ></app-progress-header>

    <div class="modal-content">
      <app-setup-stage
        *ngIf="state.setup"
        [verses]="verses"
        [groupSize]="state.groupSize"
        (groupSizeChange)="onGroupSizeChange($event)"
        (startPractice)="start()"
      ></app-setup-stage>

      <app-practice-stage
        *ngIf="!state.setup && !state.promptSave && currentStage"
        [currentVerses]="currentVerses"
        [currentStepIndex]="state.currentStepIndex"
        [practiceSettings]="practiceSettings"
        [canGoBack]="canGoBack"
        [stageNames]="stageNames"
        [isSaving]="isSaving"
        (nextStep)="next()"
        (prevStep)="prev()"
        (jumpToStep)="jumpToStep($event)"
        (settingsChange)="onSettingsChange($event)"
      ></app-practice-stage>

      <app-completion-stage
        *ngIf="state.promptSave"
        [currentChapterNum]="currentChapterNum"
        [verses]="verses"
        [timeSpent]="timeSpent"
        [isLastChapterOfBible]="isLastChapterOfBible"
        [nextChapterName]="nextChapterName"
        [isSaving]="isSaving"
        [saveError]="saveError"
        [hasMarkedComplete]="hasMarkedComplete"
        [showSuccessCheck]="showSuccessCheck"
        [showNavigationOptions]="showNavigationOptions"
        [showConfetti]="showConfetti"
        (markComplete)="markAsComplete()"
        (exitWithoutSave)="exitWithoutSaving()"
        (goToTracker)="goToTracker()"
        (goToFlow)="goToFlow()"
        (close)="closeModal()"
      ></app-completion-stage>
    </div>
  </div>
</div>
