<div class="mt-4">
      <!-- Progress Bar -->
      <div class="w-full bg-gray-200 rounded-full h-2 mb-3">
        <div
          class="h-2 rounded-full bg-blue-500"
          [style.width.%]="selectedChapter?.percentComplete"
        ></div>
      </div>

      <!-- Verse bubbles -->
      <div class="bubbles-container scrollable">
        <button
          *ngFor="let verse of versesArray"
          (click)="verse.toggle()"
          class="bubble verse-bubble"
          [ngClass]="{
            'not-selected': !verse?.memorized,
            'selected': verse?.memorized
          }"
        >
          {{ verse?.verseNumber }}
        </button>
      </div>

      <div class="flex justify-between mt-4">
        <button
          (click)="selectAll()"
          class="action-button primary"
        >
          Select All
        </button>

        <button
          (click)="clearAll()"
          class="action-button secondary"
        >
          Clear All
        </button>
      </div>
    </div>