// Instructions
.instruction-box {
  padding: 1rem 1.5rem;
  background: #fdf4ff;
  border: 1px solid #f9a8d4;
  border-radius: 0.5rem;
  text-align: center;
  margin-bottom: 2rem;

  p {
    margin: 0;
    color: #831843;
    font-weight: 500;
  }
}

