<div class="atlas-container">
  <app-atlas-header
    [journeys]="journeys"
    [selectedJourneyId]="selectedJourneyId"
    [selectedJourney]="selectedJourney"
    [currentDistance]="currentDistance"
    [currentCityIndex]="currentCityIndex"
    [cities]="cities"
    [memorized]="memorized"
    [selectedCity]="selectedCity"
    [timelineProgress]="timelineProgress"
    [isPlaying]="isPlaying"
    [terrainView]="terrainView"
    [splitView]="splitView"
    [sidebarOpen]="sidebarOpen"
    (journeyChange)="selectedJourneyId = $event; loadJourney($event)"
    (togglePlayback)="toggleJourneyPlayback()"
    (toggleTerrain)="toggleTerrainView()"
    (toggleSplit)="toggleSplitView()"
    (toggleSidebar)="toggleSidebar()"
    (selectCity)="selectCity($event)"
    (timelineChange)="selectCity(cities[$event])"
  ></app-atlas-header>

  <div class="atlas-main">
    <app-atlas-sidebar
      *ngIf="selectedCity"
      [sidebarOpen]="sidebarOpen"
      [sidebarView]="sidebarView"
      [selectedCity]="selectedCity!"
      [memorized]="memorized"
      [versesRead]="versesRead"
      [currentScriptureText]="currentScriptureText"
      (viewChange)="sidebarView = $event"
      (toggleMemorized)="toggleMemorized($event)"
      (markRead)="markVersesAsRead()"
      (close)="sidebarOpen = false"
    ></app-atlas-sidebar>

    <app-atlas-map
      [splitView]="splitView"
      [isPlaying]="isPlaying"
      [currentCityIndex]="currentCityIndex"
      [citiesLength]="cities.length"
      [timelineProgress]="timelineProgress"
      (previous)="previousCity()"
      (next)="nextCity()"
    ></app-atlas-map>
  </div>
</div>
