// Global reset for this component
:host {
  display: block;
  width: 100%;
  height: 100%;
  overflow: visible;
}

// Variables
$nav-height: 56px; // Well Versed navigation height

// Root container
.atlas-container {
  width: 100%;
  height: calc(100vh - #{$nav-height});
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: #f9fafb;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  position: relative;
  top: $nav-height;
}

// Main Layout
.atlas-main {
  position: relative;
  flex: 1;
  display: flex;
  overflow: hidden;
  height: calc(100% - 100px); // Subtract header height
}
